DATABASE_URL=postgresql://admin:admin@localhost:5432/boilerplate
PORT=3000

SALT_ROUNDS=10

# Segurança e Auth
JWT_SECRET=super-secret-key-change-in-production
JWT_EXPIRES_IN=900
REFRESH_EXPIRES_IN_DAYS=7

# Projeto e Frontend
FRONTEND_URL=http://localhost:3000
PROJECT_NAME="Meu Projeto"

# Email (Resend)
RESEND_API_KEY=re_123456789

# Cloudflare R2 / AWS S3
CLOUDFLARE_ENDPOINT=https://xxxx.r2.cloudflarestorage.com
CLOUDFLARE_BUCKET=my-bucket
CLOUDFLARE_ACCESS_KEY_ID=your_access_key
CLOUDFLARE_SECRET_ACCESS_KEY=your_secret_key